<a href="https://colab.research.google.com/github/musinaa/CLTV/blob/main/Customer_lifetime_value_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/teleco_user_data.csv")
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
#Data Preprocessing
def print_unique_col_values(df):
       for column in df:
            if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}')

In [ ]:
print_unique_col_values(df)

customerID: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
StreamingTV: ['No' 'Yes' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
TotalCharges: ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn: ['No' 'Yes']

In [ ]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')

In [ ]:
df["Contract"].replace("Month-to-month",1,inplace=True)
df["Contract"].replace("One year",12,inplace=True)
df["Contract"].replace("Two year",24,inplace=True)
df["Contract"] = df["Contract"].astype(int)

In [ ]:
df["new_totalcharges"]=df["MonthlyCharges"]*df["Contract"]
df[["new_totalcharges","TotalCharges"]].head()

   new_totalcharges  TotalCharges
0             29.85         29.85
1            683.40       1889.50
2             53.85        108.15
3            507.60       1840.75
4             70.70        151.65

In [ ]:
#unique customers
print(df['customerID'].nunique())

7043

In [ ]:
df["Transaction"]=df["TotalCharges"]/df["MonthlyCharges"]
df['Transaction']=round( df['Transaction'],0)

In [ ]:
df['Transaction']

0        1.0
1       33.0
2        2.0
3       44.0
4        2.0
        ...
7038    23.0
7039    71.0
7040    12.0
7041     4.0
7042    65.0
Name: Transection, Length: 7043, dtype: float64

In [ ]:
#Customer Lifetime Value calculation
from sklearn.preprocessing import MinMaxScaler
def cltv_c(dataframe, profit=0.10):

    cltv_c = dataframe.groupby('customerID').agg({'Contract': lambda x: x.sum(),
                                                   'Transaction': lambda x: x.sum(),
                                                   'TotalCharges': lambda x: x.sum()})

    cltv_c.columns = ['total_transaction', 'total_unit', 'total_price']

    # Avg_order_value
    cltv_c['avg_order_value'] = cltv_c['total_price'] / cltv_c['total_transaction']

    # Purchase_Frequency
    cltv_c["purchase_frequency"] = cltv_c['total_transaction'] / cltv_c.shape[0]

    # Repeat rate & Churn rate
    repeat_rate = cltv_c[cltv_c.total_transaction > 1].shape[0] / cltv_c.shape[0]
    churn_rate = 1 - repeat_rate

    # Profit_margin
    cltv_c['profit_margin'] = cltv_c['total_price'] * profit

    # Customer Value
    cltv_c['customer_value'] = (cltv_c['avg_order_value'] * cltv_c["purchase_frequency"])

    # Customer Lifetime Value
    cltv_c['cltv'] = (cltv_c['customer_value'] / churn_rate) * cltv_c['profit_margin']

    scaler = MinMaxScaler(feature_range=(0, 1))
    scaler.fit(cltv_c[["cltv"]])
    cltv_c["scaled_cltv"] = scaler.transform(cltv_c[["cltv"]])

    # Segment
    cltv_c["segment"] = pd.qcut(cltv_c["scaled_cltv"], 4, labels=["A", "B", "C", "D"])

    return cltv_c

data_df = cltv_c(df)

In [ ]:
data_df

,total_transaction,total_unit,total_price,avg_order_value,purchase_frequency,profit_margin,customer_value,cltv,scaled_cltv,segment
customerID,,,,,,,,,,
0002-ORFBO,12,9.0,593.30,49.441667,0.001704,59.330,0.084240,9.083997,0.004667,B
0003-MKNFE,1,9.0,542.40,542.400000,0.000142,54.240,0.077013,7.592200,0.003900,B
0004-TLHLJ,1,4.0,280.85,280.850000,0.000142,28.085,0.039876,2.035528,0.001046,A
0011-IGKFF,1,13.0,1237.85,1237.850000,0.000142,123.785,0.175756,39.542519,0.020315,B
0013-EXCHZ,1,3.0,267.40,267.400000,0.000142,26.740,0.037967,1.845233,0.000948,A
...,...,...,...,...,...,...,...,...,...,...
9987-LUTYD,12,13.0,742.90,61.908333,0.001704,74.290,0.105481,14.242591,0.007317,B
9992-RRAMN,1,22.0,1873.70,1873.700000,0.000142,187.370,0.266037,90.600044,0.046546,C
9992-UJOEL,1,2.0,92.75,92.750000,0.000142,9.275,0.013169,0.222002,0.000114,A
9993-LHIEB,24,68.0,4627.65,192.818750,0.003408,462.765,0.657057,552.648891,0.283924,D
9995-HOTOH,24,63.0,3707.60,154.483333,0.003408,370.760,0.526423,354.743168,0.182249,C

In [ ]:
data_df.reset_index().head()

,customerID,total_transaction,total_unit,total_price,avg_order_value,purchase_frequency,profit_margin,customer_value,cltv,scaled_cltv,segment
0,0002-ORFBO,12,9.0,593.30,49.441667,0.001704,59.330,0.084240,9.083997,0.004667,B
1,0003-MKNFE,1,9.0,542.40,542.400000,0.000142,54.240,0.077013,7.592200,0.003900,B
2,0004-TLHLJ,1,4.0,280.85,280.850000,0.000142,28.085,0.039876,2.035528,0.001046,A
3,0011-IGKFF,1,13.0,1237.85,1237.850000,0.000142,123.785,0.175756,39.542519,0.020315,B
4,0013-EXCHZ,1,3.0,267.40,267.400000,0.000142,26.740,0.037967,1.845233,0.000948,A

In [ ]:
#averages of the scaled_cltv in the subsequent segment 
data_df.groupby("segment").agg({"scaled_cltv": "mean"})

         scaled_cltv
segment
A           0.000465
B           0.010905
C           0.082596
D           0.454089

In [ ]:
#customers in group A
data_df[data_df["segment"]=="A"].shape

(1762, 10)

In [ ]:
#customers in group B
final_df[final_df["segment"]=="B"].shape

(1760, 10)

In [ ]:
#customers in group C
final_df[final_df["segment"]=="C"].shape

(1760, 10)

In [ ]:
#customers in group D
final_df[final_df["segment"]=="D"].shape

(1762, 10)

In [ ]:
#number of customers with churn 
df[df["Churn"]=="Yes"].shape

(1869, 24)

In [ ]:
churn_rate = 1869/7043
churn_rate

0.2653698707936959

In [ ]:
#Avearge CLT
data_df.cltv.mean()

266.70493143935187